<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<% if current_user.subscribed? %>
  <h3>Update Card</h3>

  <div><b>Your current card on file is:</b></div>
  <div><%= current_user.card_brand %> **** **** **** <%= current_user.card_last4 %></div>
  <div>Expires <%= current_user.card_exp_month %> / <%= current_user.card_exp_year %></div>

  <br />

  <%= form_tag card_path, method: :put, id: "payment-form" do %>
    <div class="form-row">
      <label for="card-element">
        Credit or debit card
      </label>
      <div id="card-element">
        <!-- a Stripe Element will be inserted here. -->
      </div>

      <!-- Used to display form errors -->
      <div id="card-errors"></div>
    </div>

    <button>Update Card</button>
  <% end %>

  <h3>Your Previous Charges</h3>
  <% current_user.charges.each do |charge| %>
    <div><b>You were charged <%= charge.amount %>.</b></div>
    <div><%= charge.card_brand %> **** **** **** <%= charge.card_last4 %></div>
    <div>Expires <%= charge.card_exp_month %> / <%= charge.card_exp_year %></div>
    <br />
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", subscription_path, data: { confirm: "Are you sure?" }, method: :delete %></p>
<% end %>

